@tailwind base;
@tailwind components;
@tailwind utilities;

/* 修正：移除輸入框原生的增減控制項 */
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ✨ 修正 Modal 閃爍問題，針對 Safari/WebKit 優化 */
.force-gpu {
  transform: translateZ(0);
  will-change: transform;
}
